*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(239, 239, 195);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 450px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(171, 171, 212);
    border-radius: 10px;
    margin-bottom: 25px;
}
input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 10px;
}

button{
    border: none;
    outline: none;
    padding: 10px;
    background: green;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
ul {
    list-style-type: none;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}
.del{
    background-color: red;
    margin: 10px;
}





















/* ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
} */
